@use './scssSources/variables.scss' as  v;
@use './scssSources/mixins.scss' as mixins;
@use './scssSources/colors.scss' as color;


.dropdown-container {
    margin: 0px auto;
    width:v.$dropdown-width;
}

.dropdown-menu {
    box-sizing: border-box;
    height: 30px;
    border-radius: 10px;
    background-color: color.$component-grey;
    @include mixins.displayFlex($gap: 30px); 
    padding: 0px 20px;
    color: white;
    font-weight: 300;
    outline: solid 2px color.$component-grey-h; 
    transition: outline 0.3s;
    cursor: pointer;
    .dropdown-icon {
        width: 40px;
        height: 40px;
        transition: transform 0.3s;
    }

    .dropdown-icon.rotate {
        transform: rotate(180deg);
    }
}

.dropdown-menu:hover, .dropdown-menu.active {
    outline: solid 2px color.$orange; 
}