@use './scssSources/mixins.scss' as mixins;
@use './scssSources/variables.scss' as v;
@use './scssSources/colors.scss' as color;

.gamecard.zoom {
    transform: scale(1.1);
}

.gamecard {
    cursor: pointer;
    width:380px;
    height:337.6px;
    border-radius: 15px;
    transition: transform 0.4s;
    
    display: flex;
    flex-direction: column;
    font-family: Poppins;

    .img {
        background-position: center;
        background-size: 150%;
        
        height:v.$img-height;
        width:100%;
        border-top-right-radius: 15px;
        border-top-left-radius: 15px;
    }    

    .info {
        background-color: color.$component-grey;
        padding: 20px;
        position:absolute;
        z-index: 2;
        width: v.$card-width;
        box-sizing: border-box;
        transform: translateY(v.$img-height);
        transition: transform 0.4s;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
    }

    .info.lift {
        transform: translateY(calc(v.$img-height - v.$details-space));
    }

    .like{
        width: 30px;
        height: auto;
        stroke: color.$svg-white;
        fill:color.$svg-red;
        fill-opacity: 0;
        transition: stroke 0.3s, fill-opacity 0.3s;
    }

    .like:hover {
        stroke: color.$svg-red;
    }

    .like.added {
        fill-opacity: 1;
        stroke: color.$svg-red;
    }

    .dropdown-icon {
        @include mixins.dropdownBasic;
        position: absolute;
        left: 43%;
        top:100%;
        transform: translateY(-105px) rotate(180deg);
        transition: transform 0.4s;
    }

    .dropdown-icon.rotate {
        transform: translateY(-178px) rotate(0deg);
    }

    .info-header,.info-footer {
        @include mixins.displayFlex($gap:0px);
    }

    .info-header {
        margin-bottom: 15px;
    }

    .info-footer {
        
    }

    button.CtA {
        background-color: color.$orange;
        transition: background-color 0.4s;
        font-family: Poppins;
        font-size: 20px;
        font-weight: 600;
        color:white;
        border:none;
        border-radius: 10px;
        cursor: pointer;
    }

    button.CtA:hover {
        background-color: #2e74dd;
    }

    h2 {
        font-size: 20px;
        color: white;
        font-weight: 600;
    }
}