@use './mixins.scss' as mixins;

$card-width: 380px;
$card-height: 337,6px;
$img-height: 200px;
$details-height: 58px;
$details-margin: 15px;
$details-space: calc($details-height + $details-margin);

.gamecard.zoom {
    transform:translate(-50%,-50%) scale(1.2);
}

.gamecard {
    cursor: pointer;
    width:380px;
    height:337.6px;
    border-radius: 15px;
    transition: transform 0.4s;
    position: absolute;
    left:50%;
    top: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: column;
    font-family: Poppins;

    .img {
        background-position: center;
        background-size: 150%;
        background-attachment: fixed;
        height:$img-height;
        width:100%;
        border-top-right-radius: 15px;
        border-top-left-radius: 15px;
    }    

    .info {
        background-color: #414141;
        padding: 20px;
        position:absolute;
        z-index: 2;
        width: $card-width;
        box-sizing: border-box;
        transform: translateY($img-height);
        transition: transform 0.4s;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
    }

    .info.lift {
        transform: translateY(calc($img-height - $details-space));
    }

    svg{
        width: 30px;
        height: auto;
        stroke: rgb(218, 218, 218);
        fill:rgba(185, 28, 28, 1);
        fill-opacity: 0;
        transition: stroke 0.3s, fill-opacity 0.3s;
    }

    svg:hover {
        stroke: rgba(185, 28, 28, 1);
    }

    svg:not(.added):active {
        fill-opacity: 1;
    }

    svg.added {
        fill-opacity: 1;
        stroke: rgba(185, 28, 28, 1);
    }

    .info-header,.info-footer {
        @include mixins.displayFlex($gap:0px);
    }

    .info-header {
        margin-bottom: 15px;
    }

    .info-footer {
        
    }

    button {
        background-color: #EF8421;
        transition: background-color 0.4s;
        font-family: Poppins;
        font-size: 20px;
        font-weight: 600;
        color:white;
        border:none;
        border-radius: 10px;
        cursor: pointer;
    }

    button:hover {
        background-color: #2e74dd;
    }

    h2 {
        font-size: 20px;
        color: white;
        font-weight: 600;
    }
}