@use './scssSources/mixins.scss' as mixins;

.logo {
    color: #EF8421;
    @include mixins.displayFlex($gap: 0px, $direction: column);
    font-weight:600;

    h2 {
        font-size: 20px;
    }

    h1 {
        font-size: 35px;
    }
}