

$card-width: 380px;
$card-height: 337,6px;
$img-height: 200px;
$details-height: 58px;
$details-margin: 15px;
$details-space: calc($details-height + $details-margin);
$grid-gap: 25px;
$dropdown-width: 400px;