@use './../scssSources/variables.scss' as  v;
@use './../scssSources/mixins.scss' as mixins;
@use './../scssSources/colors.scss' as color;

.options {
    width: v.$dropdown-width;
    box-sizing: border-box;
    padding: 5px 10px;
    backdrop-filter: blur(10px);
    background-color: rgba(65, 65, 65,0.6);
    position:absolute;
    transform: translateY(-110px) scale(0);
    z-index: 5;
    border-radius: 15px;
    transition: opacity 0.3s, transform 0.3s;
    opacity: 0;
    height: fit-content;
    p {
        color:white;
        padding: 5px 5px;
        margin: 5px 0px;
        background-color: none;
        transition: background-color 0.3s;
        font-family: Poppins;
        border-radius: 10px;
        cursor: pointer;
    }

    p:hover {
        background-color: color.$orange;
    }
}

.options.show {
    opacity: 1;
    transform:translateY(10px) scale(1);
}